// Spyder Theme colors
$spyder-red: #000000;
$spyder-gray: lightgray;
$spyder-dark-gray: #333;
$spyder-white: white;
$banner-bg: #3d3639;

// Foundation settings
$foundation-palette: (
  primary: $spyder-red,
  secondary: $spyder-white,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
) !default;

$topbar-padding: 1.2rem;
$topbar-background: white;
$topbar-input-width: 170px;
$menu-item-color-active:red ;
$menu-item-background-active: white;
$tab-content-border: $spyder-red;
$tab-content-background: rgba(255,255,255,0.5);
$tab-background: rgba(255,255,255,0.5);

@import 'foundation';

$slick-arrow-color: $spyder-red !default;
$slick-loader-path: '~slick-carousel/slick/';
$slick-font-path: $slick-loader-path + 'fonts/';
@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';

div.carousel-home {
  img {
        width: 100%;
  }
  .slick-slide {
      max-height: 400px;
  }
  .slide{
    position:relative;
    .background-trapezoid {
      position:absolute;
      height: 0;
      bottom: 0px;
      right: 0px;

      width: 70%;
      border-bottom: 250px solid rgba(211, 211, 211, 0.5);
      border-left: 150px solid transparent;
      @include breakpoint(medium){
        width: 50%;
        border-bottom: 400px solid rgba(211, 211, 211, 0.5);
        border-left: 250px solid transparent;
      }
      @include breakpoint(large){
        width: 35%;
        border-bottom: 400px solid rgba(211, 211, 211, 0.5);
        border-left: 250px solid transparent;
      }
    }
    .description{
      position:absolute;
      right: 2rem;
      text-align: right;
      bottom:20px ;
      color: $spyder-red;


      width: 45%;
      @include breakpoint(medium){
        width: 30%;
        font-size: 1.4rem;
      }@include breakpoint(large){
        width: 25%;
        font-size: 1.6rem;
      }

    }
  }
}

#main-menu{
  width: 100%;
  box-shadow: 0 2px $spyder-red;
}
#menu-logo {
  a {
    padding-bottom: 0px;
    padding-top: 0;
  }
  span {
    display: inline-block;
    color: $spyder-dark-gray;
    span {
      display: block;
    }
    #logo-text {
      font-size:2em;
      margin-bottom:0.2em;
      font-family: Candara,"Open Sans", Arial, sans-serif;
    }
    #logo-small-text {
      font-size:0.7em;
    }
  }
  img {
    width:3.7em;
  }
}

.top-bar-right {
  input {
    border-radius: 0.5rem;
  }
}

#first-body-part {
  background-image: url('../img/body-bg.svg');
  @include breakpoint(large){
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#information-section {
  padding:2%;
  @include breakpoint(medium){
    padding: 4% 12%;
  }
  text-align: center;
  #information {
    text-align: left;
    @include breakpoint(medium){
      text-align: justify;
    }
  }
  #download {
    margin: 4% 0px;

    #download-button {
      border-radius: 10px;
      font-size: 1.5em;
    }
    p {
      font-size: 1.2em;
      font-style: italic;
    }
  }
}

#features-section {
  text-align:center;
  h2 {
    margin-bottom:6%;
  }
  @include breakpoint(medium){
    padding: 4%;
  }
}

#title-download-section {
  background-color: $spyder-red;
  text-align: center;

  height: 2rem;
  @include breakpoint(medium){
    height: 3rem;
  }
  h2 {
    position: relative;
    color: $spyder-white;

    top: -1.2rem;
    font-size: 2.7rem;
    @include breakpoint(medium){
      top: -1.5rem;
      font-size: 4rem;
    }
  }
}

#download-section {
  background-image: url('../img/body-bg2.svg'), url('../img/body-bg3.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  text-align: center;
  @include breakpoint(medium){
    padding: 4%;
  }
}

#donation-section {
  background-color: $spyder-red;
  background-image: url('../img/spyderweb-bg.svg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  @include breakpoint(medium){
    background-position: 100%;
  }
  color: $spyder-white;
  text-align:center;
  padding:1%;
  @include breakpoint(large){
    padding: 1% 12%;
  }
  #donate-button {
  }
  #copy-donate{
    font-size:1.5em;
  }
  p {
    font-style:italic;
    font-size:1.2em;
  }
  #donate-text{
    margin: 30px 0px;
  }
}

#users-section {
  background-image: url('../img/body-bg.svg'), ;
  background-repeat: no-repeat;
  @include breakpoint(large){
    background-size: cover;
  }
  text-align:center;
  padding:1%;
  h2 {
    margin-bottom:6%;
  }
  @include breakpoint(medium){
    padding: 4% 12%;
  }
  slide{
    margin:10%;
  }
}

footer{
  width: 100%;
  a, li, p, h3, span, div{
    color: $spyder-white;
  }
  a:hover, a:focus{
    color: $spyder-gray;
  }
  li{
   list-style: none;
 }
}

#logo-footer{
  img{
    width: 5em;
  }
  p {
    display: block;
  }
}

#footer-area{
  padding: 1%;
  background-color: #363839;
}

#footer{
  background-color: #282A2B;
  padding: 1%;
  a i {
    margin-right: 1%;
  }
}

// Blog

.blog-column {
  padding: 0px;
}

.blog-banner {
    background-color: $spyder-red;
    height: 10rem;
    text-align: right;
    background-image: url('../img/spyderweb-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    .banner-text {
      color: $spyder-dark-gray;
      margin-right: 2rem;
      span {
        display: block;
      }
      color: $spyder-white;
      .banner-big-text {
        font-size: 5rem;
      }
      .banner-small-text {
        font-size: 2rem;
        margin-top: -2rem;
        margin-right: 5rem;
      }
    }
}

.blog-body {
  padding: .625rem;
  border-right: 0.25rem solid $spyder-red;
  @include breakpoint(medium){
    padding: 2rem 4rem;
  }
}

.sidebar-blog {
  padding: 2rem;
  h3 {
    color: $spyder-red;
    text-align: center
  }
  .colaborators {
    margin-top: 20rem;
  }
}

.blog-post {
  margin-bottom: 2rem;
  h3{ 
    text-align: left;
    color: $spyder-red;
  }
  h2 {
    text-align: center;
    color: $spyder-red;
  }
}
.author-img {
  width: 3.5rem;
  border-radius: 2.5rem;
  border: 0.35rem solid;
  padding: 0.23rem;
}
.meta-blog-author, .meta-blog-date, .meta-blog-index{
  color: $spyder-red;
  font-size: 0.9em;
}

// blog index
.blog-index-header {
  width: 90%;
  margin: 0;
}
.meta-blog-index {
  .author {
    text-align: center;
  }
}

// blog post
.meta-blog-date {
  text-align: right;
}
.meta-blog-author {
  img {
   display: block;
  }
}

.blog-pagination{
  .previous, .next {
    text-align: center
  }
}