{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
    <p>
      {{ post.summary }}
    </p>
    <p class="meta-blog-index">
      <span class="date">
        Date: {{ post.pub_date.strftime('%d %B of %Y') }}
      </span>
      <span class="author">
        Author: {{ post.author }}
      </span>
    </p>
  {% else %}
    <h2>{{ post.title }}</h2>
    <p class="meta-blog-author">
        Author: {{ post.author }}
    </p>
    {{ post.body }}
    <p class="meta-blog-date">
        Date: {{ post.pub_date.strftime('%d %B of %Y') }}
    </p>
  {% endif %}
  </div>
{% endmacro %}
