{% macro render_blog_post(post, from_index=false) %}
{% set author =  site.get('authors/' + post.author) %}
  <div class="blog-post">
  {% if from_index %}
    <div class="blog-index-header">
    <div class="row">
      <div class="column small-2">
        <img class="author-img" src="{{ (author.path ~ '/' ~ author.image) | url }}" alt="{{ author.name }}" />
      </div>
        <div class="meta-blog-index">
           <p></p>
            <p>
              {{ author.name }}<br>
              {{ post.pub_date.strftime('%d %B of %Y') }}
            </p>
        </div>        
    </div>
      <div class="row">
        <h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
      </div>
    </div>
    <p>
      {{ post.summary }}      
    </p>
    <p class="pull-right">
     <a href="{{ post|url }}">Read more...</a>
    </p>
  </br>
  {% else %}
  <div class="row">
    <div class="meta-blog-author column small-2">
      <span>
        <img class="author-img" src="{{ (author.path ~ '/' ~ author.image) | url }}" alt="{{ author.name }}" />
      </span>
    </div>    
    <div class="meta-blog-index">
       <p> </p>
        <p>
          {{ author.name }}<br>
          {{ post.pub_date.strftime('%d %B of %Y') }}
        </p>
    </div>
  </div>
    <h2>{{ post.title }}</h2>
    {{ post.body }}
  {% endif %}
  </div>
{% endmacro %}
