{% macro get_doc_icon(page) -%}
  {% if page.type == 'method' or page.type == 'function' or page.type == 'filter' -%}
  <i class="fa fa-cog"></i>
  {%- elif page.type == 'property' -%}
  <i class="fa fa-info-circle"></i>
  {%- elif page.type == 'operator' -%}
  <i class="fa fa-bolt"></i>
  {%- elif page.type == 'class' -%}
  <i class="fa fa-leaf"></i>
  {%- elif page.type == 'cmdlet' -%}
  <i class="fa fa-terminal"></i>
  {%- elif page.type == 'event' -%}
  <i class="fa fa-bolt"></i>
  {%- elif page.type == 'type' or page.type == 'sysfield' -%}
  <i class="fa fa-pencil"></i>
  {%- else -%}
  <i class="fa fa-list-alt"></i>
  {%- endif %}
{%- endmacro %}

{% macro get_doc_link(page) -%}
  <a href="{{ page|url }}">{{ page.title }}{%
    if page.type == 'function' or page.type == 'method' %}(){% endif %}</a>
{%- endmacro %}
