{% set image = record.attachments.get(this.image) %}
<div class="page-banner" style="background-image: url({{ image|url }})">
<div class="spyder-intro">
  <div class="row">
    <div class="medium-7 columns">
      <img src="logo.png" alt="Spyder" class="logo">
      <p>
        {{ this.title }}
      </p>
      <p>
        {{ this .content }}
      </p>
    </div>
    <div class="medium-5 columns hide-for-small-only">
      {{ this.slideshow }}
  </div>
  <div class="secondary label install-now hide-for-small-only">
    <pre>pip install -U spyder</pre>
  </div>
</div>
