<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/styles.css'|asseturl }}">
<title>{% block title %}Welcome{% endblock %} — Spider Website</title>
<body>
  <header>
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <nav class="top-bar" id="main-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Spyder Website</li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
          <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
          {% for href, title in [
            ['/blog', 'Blog'],
            ['/projects', 'Projects'],
            ['/about', 'About']
          ] %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>
  <div>
    {% block body %}{% endblock %}
  </div>
  <footer>

    <div class="row">
    <div class="small-12 medium-6 columns">


        <a href="https://github.com/spyder-ide/spyder/" title="Spyder on GitHub"><i class="fa fa-github"></i></a>
        <a href="https://github.com/spyder-ide/spyder/issues/" title="Report Issues for Spyder"><i class="fa fa-bug"></i></a>
        <a href="https://twitter.com/Spyder_IDE" title="Find Spyder on Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://gitter.im/spyder-ide/public" title="Chat on Gitter"><i class="fa fa-comment"></i></a>
      </div>
      <div class="small-12 medium-6 columns">
        &copy; Copyright 2016 by The Spyder Development Team..
      </div>
    </div>
    <script type=text/javascript src="{{ '/static/app.js'|asseturl }}" charset="utf-8"></script>
  </footer>
</body>
