<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/css/styles.css'|asseturl }}">
<title>{% block title %}Welcome{% endblock %} — Spider Website</title>
<body>
  <header>
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar-container" data-sticky-container>
      <nav class="top-bar" id="main-menu" data-sticky data-options="marginTop: 0;">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
              <a href="{{ '/'|url }}">
                <img id="menu-logo" src="{{ 'static/images/spyder.png' | url}}">
                Spyder IDE
              </a>
            </li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
            {% set data_nav = bag('main-nav', this.alt) %}
            {% for path, label in data_nav.items() %}
            <li
              {% if (this.is_child_of(path) and path != '/') or this._path == path == '/'  %}
                class="active"
              {% endif%}
              >
              <a href="{{ path|url }}">{{ label }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div>
    {% block body %}{% endblock %}
  </div>
  <footer>
    <div class="row">
    <div class="small-12 medium-6 columns">
        <a href="https://github.com/spyder-ide/spyder/" title="Spyder on GitHub"><i class="fa fa-github"></i></a>
        <a href="https://github.com/spyder-ide/spyder/issues/" title="Report Issues for Spyder"><i class="fa fa-bug"></i></a>
        <a href="https://twitter.com/Spyder_IDE" title="Find Spyder on Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://gitter.im/spyder-ide/public" title="Chat on Gitter"><i class="fa fa-comment"></i></a>
      </div>
      <div class="small-12 medium-6 columns">
        &copy; Copyright 2016 by The Spyder Development Team..
      </div>
    </div>

    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'spyder-ide/public'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script type=text/javascript src="{{ '/static/js/app.js'|asseturl }}" charset="utf-8"></script>
  </footer>
</body>
