{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {{ this.header }}
<div id="first-body-part">
  <div id="information-section">
    <div class="row">
      <div class="medium-6 columns" id="information">
        <p>
          Spyder is a Python development environment with a lot of features.
        </p>
        <p>A powerful interactive development environment for the Python language with advanced editing, interactive testing, debugging and introspection features</p>
      </div>
      <div class="medium-6 columns" id="download">
        <ul>
          <a class="button primary" href="https://github.com/spyder-ide/spyder/releases" id="download-button">
            <i class="fa fa-download fa-lg"></i>
            Download Spyder Source Code
          </a>
          <p>The best IDE for scientific computing!!</p>
        </ul>
      </div>
    </div>
  </div>

  <div id="features-section">
    <h2>COMPONENTS</h2>
    <div class="row">
    {% for feature in this.features.blocks %}
      <div class="medium-4 large-3 columns">
          <img src="{{ feature.image }}">
          <h4>{{ feature.title }}</h4>
          <div class="description">
            {{ feature.description }}
          </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

  <div id="title-download-section">
    <h2>Get started</h2>
  </div>
  <div id="download-section">
    <div class="row">
    <ul class="tabs" data-tabs id="base-tabs">
      <li class="tabs-title is-active"><a href="#info-tab" aria-selected="true">Starting with Spyder</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="base-tabs">
      <div class="tabs-panel is-active" id="info-tab">
        <div class=row>
         <div class="medium-6 columns ">
           <h3>Spyder basics</h3>
           <p>Some starting information</p>
           <ul>
             <li>
               <a href="https://github.com/spyder-ide/spyder/blob/ab216333d8a0fb4a8becb09bcec8badf382bb176/doc/installation.rst">How to install</a>
             </li>             
             <li>
              <a href="https://github.com/spyder-ide/spyder/wiki/Troubleshooting-Guide-and-FAQ">Troubleshooting Guide and FAQ</a>
            </li>
           </ul>
          </div>  
          <div class="medium-6 columns" id="donate-text">
            <img alt="Spyder" src="./static/images/spyder-logo.svg">
          </div>        
        </div>
      </div>
    </div>
    </div>
  </div>

  <div id="donation-section">
    <div class="row">
      <div class="medium-6 columns">
      <a href="https://opencollective.com/spyder/" id="donate-button">
        <img alt="Support us!!" src="./static/images/donate.svg">
      </a>
      <p id="copy-donate">Believe in Spyder...Take an action!!</p>
      </div>
      <div class="medium-6 columns" id="donate-text">
        <p>
          With your support we create a better world, we evolve and grow up with you.
        </p>
        <p>
          Thanks!!!
        </p>
      </div>
    </div>
  </div>

  <div id="users-section">
    <div class="row">
      <div class="small-11 medium-12 columns small-centered">
      {{ this.users }}
      </div>
    </div>
  </div>

{% endblock %}
